@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
}

html {
    background-color: #141519;
    color: #FFF;
    font-family: 'Overpass', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    color: #F37511;
}

.container-card {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.875rem;
    width: 25.625rem;
    height: 25.625rem;
    background-color: #1E252F;
    border-radius: 3%;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-star-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background-color: #262F38;
}

.card-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.star-one,
.star-two,
.star-three,
.star-four,
.star-five {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background-color: #262F38;
    transition: 600ms all;
    text-decoration: none;
    color: #FFF;
}

.star-one:hover,
.star-two:hover,
.star-three:hover,
.star-four:hover,
.star-five:hover {
    cursor: pointer;
    background-color: #7C8898;
    transition: 600ms all;
} 

.star-one:focus,
.star-two:focus,
.star-three:focus,
.star-four:focus,
.star-five:focus {
    cursor: pointer;
    background-color: #F37511;
    transition: 600ms all;
} 


.card-submit-button {
    height: 3.125rem;
    border-radius: 10px;
    width: 100%;
    color: #FFF;
    font-size: 1rem;
    background-color: #F37511;
    transition: 600ms all;
    letter-spacing: 0.1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.card-submit-button:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #F37511;
    transition: 600ms all;
}

.card-hidden {
    display: none;
}

.attribution {
    margin-top: -20px;
    font-size: 0.8rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 76%, 77%);
}